//- PUG includes
include ./includes/main

//- -----------------------------------

//- Page data
- const pageData = require("./js/data/pageData.js");

//- -----------------------------------

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Golden
    meta(name="description" content="Responsive template focused on businesses and technology. Ideal website for a small company")
  body.homepage
    .wrapper
      header#home.top
        +nav(pageData.nav)
        .container.top__container.u-text-white          
          .row.h-100
            .col.align-self-center.text-center
              p.bigtext.top__bigtext=pageData.top.bigText
              h1.heading-primary.top__heading=pageData.top.headingPrimary
              +btn(pageData.top.button, 'top__btn', 'primary')
      main
        section#services.services
          .container.text-center
            h2.heading-secondary.services__mainheading=pageData.services.headingSecondary
            p.prime.services__prime=pageData.services.prime
            .row.services__row
              for feature, index in pageData.services.features
                .col-4
                  .d-flex.justify-content-center.align-items-center.mx-auto.services__icon
                    +svg-services-icons(index+1)
                  h3.heading-tertiary.services__subheading=feature
                  p.d-none.d-md-block Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
