//- PUG includes
include ./includes/main

//- -----------------------------------

//- Page data
- const pageData = require("./js/data/pageData.js");

//- -----------------------------------

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Golden
    meta(name="description" content="Responsive template focused on businesses and technology. Ideal website for a small company")
  body.homepage
    .wrapper
      +header(pageData, 'home', 'top')
      
      main
        section#services.services.bg-white
          .container.text-center
            h2.heading-secondary=pageData.services.headingSecondary
            p.prime=pageData.services.prime
            .row.services__row
              for feature, index in pageData.services.features
                .col-4
                  .d-flex.justify-content-center.align-items-center.mx-auto.services__icon
                    +svg-services-icons(index+1)
                  h3.heading-tertiary.services__subheading=feature
                  p.d-none.d-md-block Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.

        section#portfolio.portfolio.bg-light
          .container.text-center
            h2.heading-secondary=pageData.portfolio.headingSecondary
            p.prime=pageData.portfolio.prime
            .swiper-container.portfolio__swiper
              .swiper-wrapper
                for item, index in pageData.portfolio.items
                  +card(item, index, 'swiper-slide')
            p.d-none.d-lg-block.caption.portfolio__caption You can also use keyboard arrows to change slide

        section#about.about.bg-white
          .container.text-center
            h2.heading-secondary=pageData.about.headingSecondary
            p.prime=pageData.about.prime
            .row
              for item, index in pageData.about.items
                +media(item, index)

        section#team.team.bg-light
          .container.text-center
            h2.heading-secondary=pageData.team.headingSecondary
            p.prime=pageData.team.prime
            .swiper-container.team__swiper
              .swiper-toggle
                for worker, index in pageData.team.workers
                  .swiper-slide.team__slide
                    +worker-card(worker, index)
            p.d-block.d-md-none.caption.team__caption Swipe left/right to see all our staff

        section#contact.contact
          .container.text-center
            h2.heading-secondary.u-text-white=pageData.contact.headingSecondary
            p.prime.u-text-primary-dark=pageData.contact.prime
            +contact-form(pageData.contact.form)
      
      +footer(pageData.footer, 'bg-light')



