mixin btn(text, mclass, type)
  button(class=`${mclass} btn--${type}`, type='button').btn
    case type
      when 'primary'
        - let n = 1;
        while n <= 4
          span(class=`btn__line--${n++}`).btn__line
    case type
      when 'outline'
        - let n = 1;
        while n <= 6
          span(class=`btn__line--${n++}`).btn__line
    .btn__text #{text}