include ./social

mixin worker-card(worker, index, mClass)
  .worker-card(class=`${mClass !== undefined ? mClass : ''}`)
    .worker-card__img-box
      img(src=require(`./img/avatar${index+1}.jpg`))
    .worker-card__content
      h3.heading-tertiary.worker-card__name=worker.name
      p.prime.worker-card__occupation=worker.occupation
      +social(worker.social)
